pre{
    padding: 3px;
    background-color: rgb(228, 229, 233);
    text-align: left;
    overflow: auto;
}

p{
    font-size: 16px;
    text-align: left;
    text-shadow: 0.5px 0.5px 1px gray;
    word-break: break-all
}